/* Root styles */
body, .root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://ideogram.ai/api/images/direct/BJmwz27kS7GCK_122r-y1A.png');
  background-size: cover;
  background-position: center;
}

.not-logged-in {
  text-align: center;
  color: #ddddddc7;
}

.ll {
  color: #ddd;
}

h1, .h4, h4 {
  text-align: center;
}

/* Container styles */
.Container {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Button styles */
.add-button, .logout-button, .MuiButton-root {
  color: #fff;
  background-color: #dddddd1a !important;
}

/* Todo tabs styles */
.todo-tabs {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.715);
}

/* Todo table styles */
.todo-table {
  width: 100%;
  border-collapse: collapse;
}

/* Todo table header styles */
.todo-table th {
  background-color: rgba(0, 213, 255, 0.306);
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: #ffffff;
}

/* Todo table row styles */
.todo-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: #ffffff;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.557);
}

.modal-content {
  background: rgba(7, 74, 88, 0.338);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(8, 53, 91, 0.2);
}

.modal h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Todo details container styles */
.todo-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
  padding: 24px;
  background-color: rgba(19, 86, 122, 0.08);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Todo details text styles */
.pp {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

/* Todo details button styles */
.todo-details .MuiButton-root {
  width: 100%;
  background-color: rgba(76, 167, 175, 0.8);
  color: #fff;
}

/* Hover effect for the button */
.todo-details .MuiButton-root:hover {
  background-color: rgba(56, 135, 142, 0.8);
}

/* Active effect for the button */
.todo-details .MuiButton-root:active {
  transform: scale(0.98);
}

/* Change input text color to white */
.MuiInputBase-input {
  color: #fafafa !important;
}

/* Change select dropdown text color to white */
.MuiSelect-iconOutlined {
  color: #fff !important;
}
